.lyric-container {
  position: absolute;
  top: 360px;
  background: none;
  height: 200px;
  width: 100%;
  overflow-y: hidden;
  border: 20px solid rgba(0, 0, 0, 0);
}
.lyric-container div.scroll-lyric-container {
  box-sizing: border-box;
  transition: 0.2s;
}
.lyric-container div.scroll-lyric-container div {
  text-align: center;
  overflow-wrap: break-word;
  word-wrap: break-word;
  transition: 0.5s;
}
.lyric-container div.scroll-lyric-container div.inactive {
  color: lightgrey;
  font-size: 12px;
}
.lyric-container div.scroll-lyric-container div.active {
  color: white;
  font-size: 13px;
  font-weight: bold;
  margin: 3px 0;
}
@keyframes rotating {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
.cd-round {
  position: absolute;
  width: 200px;
  height: 200px;
  border: 10px solid grey;
  border-radius: 100px;
  left: calc(50% - 200px / 2);
  top: 20%;
  animation: rotating 24s linear infinite;
  transition: 0.2s;
}
.cd-round div.play {
  width: 100px;
  height: 100px;
  background-image: url("../icon/play.png");
  position: absolute;
  left: calc(50% - 100px / 2);
  top: calc(50% - 100px / 2);
  transition: 0.2s;
}
.cd-round.active {
  animation-play-state: running;
}
.cd-round.active div.play {
  display: none;
}
.cd-round.inactive {
  animation-play-state: paused;
  filter: brightness(0.7);
  border-color: white;
}
